@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.banner-container {
  max-width: 1327px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* Scroll-lock class */
.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}
/* hover-effect */

/* for-button */
.btn {
  /* width: 6.5em;
  height: 2.3em; */
  /* margin: 0.5em; */
  /* background: black; */
  /* color: white; */
  /* border: none; */
  /* border-radius: 0.625em; */
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  color: black !important;
  background-color: #ffc107 !important;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* end */

/* ================header-section================ */

#header {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  background: transparent;
  transition: top 0.5s ease;
}
#header .navbar {
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  padding-top: 15px;
}
/* Logo */
.navbar-brand {
  max-width: 150px;
  height: 50px;
  padding-top: 20px;
}
.navbar-brand > img {
  width: 100%;
  object-fit: contain;
}

/* Toggle Button */
.navbar-toggler:focus {
  box-shadow: none;
}

/* Nav Links */
.nav-link-custom {
  color: #000 !important;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
  position: relative;
  transition: all 0.3s ease;
}
.nav-link-custom:hover {
  color: #f59e0b !important;
}
.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #fbbf24;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.nav-link-custom:hover::after {
  width: 50%;
}
.navbar-toggler i {
  font-size: 26px;
  color: #000;
}
/*===== Banner-section ======*/
.left-banner {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 600px;
  width: 50%;
  /* margin-top: 25px; */
  padding: 10px 25px;
  border: none;
  font-weight: 800;
}

/* aboutus */
.about-section {
  padding-top: 100px;
}
.about-container1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 60px;
}

.letter1 {
  font-size: 100px !important;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 3px #333;
  /* text-stroke: 3px #333; */
  line-height: 1;
  font-family: "Arial", sans-serif;
  letter-spacing: 5px;
}

/* .letter-about {
  font-size: 100px !important;
} */

/* padding: 12px 32px; */

/* baaner  us*/
.us-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-bottom: 30px;
}

.letter2 {
  font-size: 160px;
  font-weight: 900;
  color: #ffae0036;
  line-height: 1;
  font-family: "Arial Black", Arial, sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.letter-us {
  font-size: 160px;
}

.letter2:hover {
  color: #e6d49a;
  transition: color 0.3s ease;
  transform: scale(1.05);
}
.us-container {
  margin-right: -43px;
  padding-bottom: 65px;
}

.right-banner {
  position: relative;
  width: 50%;
  /* background-color: #fff4ec; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background: url(./assets/WORLD\ MAP\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff7f2;
}

.map-bg {
  width: 80%;
  position: absolute;
  top: 16%;
  left: -8%;
  object-fit: cover;
  /* opacity: 0.15; */
}
.car-section > div {
  height: 30px !important;
}
.cars-img {
  max-width: 1360px !important;
  width: 100%;
}
.car-image {
  position: relative;
  object-fit: contain;
  width: 91%;
  left: 7%;
  top: -157px;
  z-index: 5;
}

/* Carpoint Section */

.about-heading {
  color: #f5b800; /* Yellow color */
  font-weight: 600;
  font-size: 20px;
}

.about-title {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0 44px 0;
}

.about-text {
  max-width: 437px;
  min-height: 332px;
  color: #555;
  line-height: 1.7;
  font-size: 13px;
  text-align: justify;
  margin: 0 10px 0 10px;
}
.carpoint-para {
  max-width: 668px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}
.about-image {
  max-width: 625px;
  width: 100%;
}
.about-image > img {
  width: 100%;
  object-fit: contain;
}
/* footer-section */
.footer-cards > div {
  height: 650px !important;
}
.contact-card {
  background-color: #fdfdfd;
  border-radius: 20px;
  max-width: 900px !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin: 0 auto !important;
  position: relative;
  top: 221px;
  z-index: 4;
}
.btn-yellow {
  background-color: #ffc107;
  color: #fff;
  font-weight: bold;
}
.btn-yellow:hover {
  background-color: #e0a800;
}
.app-badges img {
  width: 180px;
  height: 120px;
  margin-bottom: 10px;
}
.car-image2 {
  max-width: 691px;
  min-height: 138px;
  width: 100%;
  position: relative;
  left: 52px;
}
.car-image2 > img {
  width: 100%;
  object-fit: contain;
}
.text-white {
  font-size: 13px;
}
.footer-dark {
  top: 83% !important;
}
.right-cards h5,
.right-cards p,
.right-cards .app-badges {
  width: 100%;
}

.app-badges img {
  width: 150px;
  height: auto;
}

.footer-dark {
  background-color: #000;
  color: #fff;
  padding-top: 300px !important;
  width: 100%;
}
.footer-dark a {
  color: #fff;
  text-decoration: none;
}
.footer-dark a:hover {
  text-decoration: underline;
}
.subscribe-input {
  background-color: #333;
  border: none;
  color: #fff;
  max-width: 200px;
}
.subscribe-input::placeholder {
  color: #aaa;
}
.footer-logo span {
  color: #ffc107;
}
.btn-sc {
  max-width: 100px;
  background-color: #ffc107;
  padding: 7px 11px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

/* Below 678px: white icons */
@media screen and (max-width: 1199.98px) {
  .navbar > div {
    max-width: 1195px;
  }
}
@media screen and (max-width: 1112px) {
  .nav-item,
  .btn {
    font-size: 12px !important;
  }
}
@media (max-width: 1083px) {
  .us-container {
    margin-right: -18px;
  }
}
@media screen and (max-width: 1024px) {
  .left-banner,
  .right-banner {
    height: 461px;
  }
}
@media (max-width: 991.98px) {
  .right-cards {
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }
  .footer-dark {
    top: 83% !important;
  }
  .right-cards h5,
  .right-cards p,
  .right-cards .app-badges {
    width: 100%;
  }

  .app-badges img {
    width: 150px;
    height: auto;
  }
  /* footer */
  .text-white {
    font-size: 11px;
  }
}
/* ==============header-section-responsive ========*/

/* Responsive */
@media screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: #000;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    z-index: 999;
  }
  .car-image2 {
    left: 0px;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  body {
    overflow-y: auto !important;
  }
  .heading-content > p {
    font-size: 12px;
  }
  .heading-rvw {
    text-align: center;
  }
  .navbar-collapse {
    background-color: #000; /* Matches left banner color */
    padding: 1rem;
    border-radius: 15px;
    z-index: 999;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  body.offcanvas-backdrop {
    overflow-y: auto !important;
  }
  .car-image {
    left: 1%;
    top: -134px;
  }
  .letter-us {
    font-size: 140px;
  }
  .about-section {
    padding-top: 39px;
  }
  .contact-card {
    top: 33px !important;
  }
}
/* Banner-section-responsive */

@media (max-width: 963px) {
  .us-container {
    margin-right: 6px;
  }

  .map-bg {
    width: 92%;
    top: 18%;
    left: 0%;
    /* opacity: 0.15; */
  }
}
@media (max-width: 947px) {
  .about-section {
    padding-top: 90px;
  }
  .left-banner h1 {
    font-size: 2rem;
  }
}
@media (max-width: 933px) {
  .about-container1 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 870px) {
  .letter1 {
    font-size: 89px !important;
  }
  .us-container {
    margin-right: -17px;
  }
}

@media screen and (max-width: 853px) {
  .navbar-toggler i {
    color: #fff !important;
    padding-top: 20px;
  }
  .navbar-brand {
    max-width: 150px !important;
    height: 50px;
    padding-top: 20px;
  }
  .left-banner,
  .right-banner {
    width: 100%;
    padding: 77px 2px;
    text-align: center;
  }
  .left-banner h1 {
    font-size: 2rem;
  }

  .car-section {
    height: 184px !important;
  }
  .car-section {
    height: 24px !important;
  }
}
@media (max-width: 768px) {
  .letter1 {
    font-size: 80px !important;
    -webkit-text-stroke: 2px #333;
    /* text-stroke: 2px #333; */
    letter-spacing: 3px;
  }
  .letter2 {
    font-size: 140px;
    gap: 15px;
  }

  .us-container {
    gap: 15px;
  }
  .about-title {
    font-size: 24px;
  }
}
/* footer-section -responsive */
@media (max-width: 767px) {
  footer .col-md-4 {
    text-align: center;
  }
  footer .d-flex.gap-3 {
    justify-content: center;
    align-items: center;
  }
  .car-image {
    left: 1%;
    top: -91px;
  }
  .about-section {
    padding-top: 30px;
  }
  .img-footerlogo {
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}
@media (max-width: 730px) {
  .map-bg {
    top: 25%;
    left: 8%;
  }
}

@media (max-width: 573px) {
  .car-section {
    height: 80px !important;
  }

  .right-banner {
    padding: 2px 2px;
    min-height: 400px !important;
  }
}
@media screen and (max-width: 551px) {
  .car-image {
    left: 3%;
    top: -91px;
  }
}
@media (max-width: 519px) {
  .carpoint-para {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .letter1 {
    font-size: 52px !important;
    -webkit-text-stroke: 2px #333;
    /* text-stroke: 2px #333; */
    letter-spacing: 2px;
  }
  .contact-card {
    top: 71px !important;
  }
  .letter2 {
    font-size: 100px;
  }

  .us-container {
    gap: 10px;
    margin-right: 2px;
  }
}
@media (max-width: 474px) {
  .right-banner {
    padding: 2px 2px;
    min-height: 364px !important;
  }

  .car-section {
    height: 20px !important;
  }
}

@media (max-width: 434px) {
  .carpoint-para {
    font-size: 9px;
  }
}
@media (max-width: 428px) {
  .car-image2 {
    min-height: 50px;
  }
}

@media (max-width: 402px) {
  .carpoint-para {
    font-size: 7px;
  }
  .about-text {
    font-size: 9px;
  }
}
@media (max-width: 400px) {
  .text-white {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .contact-card {
    top: 57px !important;
  }
  .about-text {
    max-width: 437px;
    min-height: 211px;
  }
  .left-banner h1 {
    font-size: 1.2rem;
  }
  .left-banner p {
    font-size: 0.8rem;
  }

  .car-image {
    left: 1%;
    top: -66px;
    z-index: 5;
  }

  .right-banner {
    min-height: 261px !important;
  }
  .left-banner,
  .right-banner {
    width: 100%;
    padding: 0 2px;
    padding-top: 20px;
    height: 333px;
  }
  .contact-card {
    padding: 1rem;
  }
  .text-white {
    font-size: 9px;
  }
}
@media (max-width: 358px) {
  .carpoint-para {
    font-size: 6px;
  }
}
@media (max-width: 320px) {
  .text-white {
    font-size: 8px;
  }
}

/*==================== resonsove end=============================== */
/* hover */
